<footer class="bg-body-tertiary text-center text-lg-start">
  <div class="container-fluid p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Uso Responsable</h5>
        <p>
          El uso de esta aplicación debe ser responsable. Evita comportamientos que infrinjan normas de conducta, privacidad o seguridad. No compartas información personal sin consentimiento y limita el tiempo de uso para preservar tu bienestar. El incumplimiento de estas recomendaciones puede afectar tu experiencia y la de otros usuarios.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Derechos de autor</h5>
        <p>
          Todo el contenido dentro de esta aplicación, incluyendo textos, imágenes y demás materiales, está protegido por derechos de autor. Queda prohibida la reproducción, distribución o modificación sin el permiso expreso de los titulares correspondientes. El uso indebido de este contenido puede generar sanciones legales.
        </p>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2025 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>